
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav_logo{
    margin-top: 2em;
    color: red;
}

.nav_items{
    margin-top: 2em;
}

.nav_item{
    margin-left: 2em;
    text-decoration: none;
    color: black;
}

.nav_item:hover{
    color: blue;
    transition: 0.3s;
}

.img{
    width: 100%;
    margin: 0;
}

.img_text{
    background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1185382671?k=20&m=1185382671&s=612x612&w=0&h=QvHSiV0uDYhl69m1rpIt0aYbk4vmpl9kjVcfkMkgyfw=');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_title{
    color: white;
    letter-spacing: 0.2em;
    
}

.img_btn{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 1em 3em;
    border-radius: 0.5em;
    transition: 1s;
}

.img_btn:hover{
    color: blue;
}

.hero{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.hero_container{
    display: flex;
}

.card{
    display: flex;
    flex-wrap: wrap;
}

.card_item{
    width: 15em;
    height: 17em;
    background-color: rgb(175, 173, 173);
    padding: 0.2em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.card_item_box{
    margin-top: 12.8em;
    text-align: center;
    border-radius: 0.3em;
    background-color: white;
    padding: 0.7em;
}

.card_item_text{
    margin: 0;
}

.price{
    color: red;
}

.box{
    width: 25em;
    height: 36em;
    margin-right: 3em;
    border-radius: 0.5em;
    border: 1px solid black;
}

.hero_btn{
    width: 15%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
}

@media (max-width: 600px) {
    .box{
        display: none;
    }
}