*{
    box-sizing: border-box;
}

:root{
    --backgroundColor: #fff;
    --textColor: #000;
    --blockBackgroundColor: #EEFAFF; 
    --btnBorderRadius: 0.5em;
    --headerFont: sans-serif;
    --titleLinkColor: blue;
    --boxShadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    background-color: var(--backgroundColor);
    color: var(--textColor);
    overflow-x: hidden;
}

.first_block{
    background-color: var(--blockBackgroundColor);
    padding: 1em;
}

.promise{
    margin: 0 auto;
    padding-bottom: 5em;
    z-index: 999;
    isolation: isolate;
}

.promise_header{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.promise_logo{
    height: 1.5em;
}

.promise_email{
    cursor: pointer;
}

.promise_email_img{
    height: 1.3em;
    margin-bottom: -0.3em;
}

.promise_address{
    display: inline;
}

.promise_hero_left_title{
    line-height: 1.3em;
    font-family: var(--headerFont);
}

.promise_hero_left_text{
    line-height: 2em;
    margin-bottom: 3em;
}

.promise_hero_left_btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(93.17deg, #FF7A00 0%, #FF0000 145.59%);
    padding: 1em 3em;
    border-radius: var(--btnBorderRadius);
}

.promise_hero_right_img{
    width: 100%;
    margin-top: 3em;
}

.promise_hero_right_text{
    text-align: center;
}

.second_block{
    margin: 0 auto;
    padding: 4em 0;
}

.proof{
    margin: 0;
}

.proof_title{
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

.proof_img{
    width: 15%;
    margin: 1em;
}

.proof_imgs_gp_one{
    display: flex;
    justify-content: space-between;
}

.proof_imgs_gp_two{
    display: flex;
    justify-content: space-evenly;
}

.third_block{
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.problem_box{
    width: 100%;
    text-align: start;
    border-radius: 1em;
    box-shadow: var(--boxShadow);
    padding: 1em;
    margin: 2em auto;
}

.problem_title{
    font-family: var(--headerFont);
}

.problem_text_box{
    margin: 1em auto;
}

.problem_box_img{
    width: 1em;
    margin-bottom: -0.3em;
}

.problem_box_text{
    display: inline;
}

section{
    margin: 0 auto;
    padding: 1em;
}

.part1{
    margin: 5em auto;
}

.part1_img{
    width: 100%;
    margin-bottom: 3em;
}

.part1_hero_link{
    color: var(--titleLinkColor);
}

.part1_hero_title{
    font-family: var(--headerFont);
    line-height: 1.5em;
    text-align: center;
}

.part1_hero_text{
    line-height: 2em;
}

.part2{
    background-color: var(--blockBackgroundColor);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.part2_img{
    width: 100%;
    margin-top: 2em;
}

.part3{
    margin: 3em auto;
    text-align: center;
}

.part3_hero_link{
    text-align: start;
}

.part3_hero_text{
    margin-bottom: 3em;
    text-align: start;
}

.part3_btn{
    border-radius: var(--btnBorderRadius);
}

.part4{
    background-color: var(--blockBackgroundColor);
    padding: 2em 1em;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
}

.part4_title{
    font-family: var(--headerFont);
}

.part4_box{
    width: 18em;
    margin: 0 auto;
    text-align: start;
    border-radius: 1em;
    box-shadow: var(--boxShadow);
    padding: 1em;
    margin-top: 5em;
}

.part4_box_img{
    position: relative;
    top: -3em;
    left: 0.5em;
}

.part4_box_title{
    font-family: var(--headerFont);
    font-style: italic;
}

.part5{
    margin: 0 auto;
    padding: 1em;
    background-color: #243349;
    color: var(--backgroundColor);
}

.part5_left{
    width: 100%;
}

.part5_left_title{
    font-family: var(--headerFont);
    font-size: 2em;
}

.part5_left_text1{
    line-height: 2em;
}

.part5_left_img1{
    width: 100%;
    margin-bottom: 2em;
}

.part5_left_img2{
    width: 5em;
    margin-bottom: -6em;
}

.part5_left_text2{
    display: inline-block;
    margin-left: 6em;
}

.part5_right{
    margin-top: 2em;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 1em;
    border-radius: 1em;
}

.part5_right_title{
    text-align: center;
    font-family: var(--headerFont);
}

.part5_item{
    margin: 1em;
}
.part5_item_img{
    margin-bottom: -0.5em;
}

.part5_item_text{
    font-weight: 300;
    margin-left: 1em;
    display: inline;
}

.part5_value{
    margin-top: 3em;
    font-weight: 300;
}

.part5_price{
    color: #8496AD;
    margin-bottom: 2em;
}

.part5_btn{
    display: block;
    text-align: center;
    padding: 1em 5em;
    margin-left: 1em;
}

.part5_time{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
}

.part5_time_item{
    margin-right: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.03);
}

.time{
    margin: 0;
}

.part6{
    padding: 1em;
    text-align: center;
}

.part6_title{
    margin-top: 2em;
    font-family: var(--headerFont);
}

.part6_text{
    line-height: 2em;
    margin-bottom: 5em;
}

.part6_box{
    width: 18em;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 5em;
    box-shadow: var(--boxShadow);
    border-radius: 1em;
    text-align: center;
}

.part6_box_img{
    position: relative;
    bottom: 7em;
}

.part6_box_title{
    font-family: var(--headerFont);
    margin-top: -7em;
}

.part6_box_text{
    line-height: 2em;
}

.part7{
    padding: 1em;
    text-align: center;
    background-color: var(--blockBackgroundColor);
}

.part7_container{
    margin-bottom: 4em;
}

.part7_box{
    background-color: var(--backgroundColor);
    margin-bottom: 4em;
}

.part7_box_img_container{
    border-radius: 50%;
    padding: 2em;
    width: 7em;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundColor);
    position: relative;
    bottom: 4em;
    left: 4.5em;
}

.part7_box_title{
    font-family: var(--headerFont);
    margin-top: -2em;
}

.part8_title{
    margin-top: 2em;
    text-align: center;
    font-family: var(--headerFont);
}

.part8_text{
    line-height: 2em;
    margin-bottom: 3em;
}

.part8_box{
    background-color: rgba(255, 255, 255, 0.03);
    padding: 1em;
    border-radius: 1em;
    margin: 2em 0;
}

.part8_video{
    background-color: #343a40;
    height: 10em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part8_video_img{
    width: 20%;
}

.part8_box_title{
    font-family: var(--headerFont);
}

.part8_box_text{
    line-height: 2em;
}

.part9_img_container{
    margin-top: -15em;
}

.part9_img{
    width: 20em;
    position: relative;
    top: 20.5em;
}

.part9_text_box{
    text-align: start;
}

.part9_title{
    font-family: var(--headerFont);
}

.part9_text_box{
    margin-top: 4em;
}

.part9_text{
    line-height: 2em;
}

.part9_item_box{
    margin-bottom: 2em;
}

.part9_item_img{
    margin-bottom: -0.3em;
}

.part9_item_text{
    display: inline;
    font-size: 0.9rem;
}

.part10{
    padding: 1em;
}

.part10_title{
    font-family: var(--headerFont);
}

.part10_text{
    line-height: 2em;
    margin-bottom: 3em;
}

.part10_img{
    width: 100%;
    margin-top: 5em;
}

.part11{
    padding: 3em 1em;
}

.part11_title{
    font-family: var(--headerFont);
}

.part11_box_container{
    margin: 3em 0;
}

.part11_box{
    box-shadow: var(--boxShadow);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.part11_box_img{
    margin-right: 1em;
    margin-bottom: -0.5em;
}

.part11_box_title{
    display: inline;
}
.part11_box_text{
    margin-left: 3.5em;
    line-height: 1.7em;
}

.footer{
    text-align: center;
}

.copyright{
    text-align: start;
    font-family: var(--headerFont);
    font-weight: 400;
}

@media (min-width: 600px) {

    .circe{
        width: 40em;
        aspect-ratio: 1/1;
        background-color: var(--backgroundColor);
        border-radius: 50%;
        position: absolute;
        top: -23em;
        right: -4em;
    }

    .desktopWidth{
        width: 70%;
        margin: 0 auto;
    }

    .promise_hero{
        display: flex;
    }

    .promise_hero_left{
        margin-right: 2em;
    }

    .problem_box_container{
        display: flex;
    }

    .problem_box{
        margin: 1em;
    }

    .part1{
        display: flex;
    }

    .part1_img{
        width: 100%;
        margin-right: 5em;
    }

    .part2{
        display: flex;
    }

    .part2_hero{
        width: 90%;
        margin-right: 5em;
    }

    .part2_img{
        width: 90%;
    }

    .part3{
        display: flex;
    }

    .part3_img{
        margin-right: 8em;
    }

    .part4_box_container{
        display: flex;
        flex-wrap: wrap;
    }

    .part4_box{
        margin-right: 1em;
    }

    .part5_container{
        display: flex;
    }

    .part5_left{
        width: 40%;
        margin-right: 7em;
    }

    .part5_right{
        width: 40%;
    }

    .part6_box_container{
        display: flex;
        flex-wrap: wrap;
    }

    .part6_box{
        margin-bottom: 4em;
    }

    .part7_container{
        margin-bottom: 4em;
    }

    .part7_box_container{
        display: flex;
        flex-wrap: wrap;
    }

    .part8_text{
        text-align: center;
    }

    .part8_box{
        display: flex;
    }

    .part8_video{
        width: 40%;
        margin-right: 3em;
        margin-top: 1em;
    }

    .part8_text_box{
        width: 50%;
    }

    .part9_container{
        display: flex;
    }

    .part9_text_box{
        width: 60%;
        margin-left: 1em;
    }

    .part10{
        display: flex;
        margin: 5em auto;
    }

    .part10_img{
        width: 120%;
        margin-top: 1em;
        margin-left: 3em;
    }

    .part11{
        text-align: center;
    }

    .part11_box_container{
        text-align: start;
    }

    .footer{
        display: flex;
        justify-content: space-around;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #000;
        --textColor: #fff;
    }

    .darkTheme{
        background-color: #343a40;
        border-radius: 1em;
        margin-bottom: 1em;
    }

  }
  
  @media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #fff;
        --textColor: #000;
    }
  }